.button,
.link {
    transition: 0.2s all ease-out;
}

.button {
    font: inherit;
    cursor: pointer;
    font-weight: bold;
    appearance: none;
    border: none;
    outline: none;
    min-height: 2.5rem;
    min-width: 10rem;
    padding: 10px 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__spinner {
        animation: rotate 0.8s infinite linear;
    }

    &--busy {
        cursor: initial;
        opacity: 0.5;
        pointer-events: none;
    }

    &--primary {
        background-color: $primary;
        color: #eeeeee;

        &:hover {
            background-color: $accent;
            color: #ffffff;
        }
    }

    &--danger {
        background-color: $accent;
        color: #fff;

        &:hover {
            background-color: $gray-lightest;
            color: $gray-medium;
        }
    }

    &--round {
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 0.8rem;
        min-width: auto;
    }
}

.link {
    text-decoration: none;

    &--primary {
        color: $primary;

        &:hover {
            color: $accent;
        }
    }
}

.message {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    font-weight: bold;
    padding: 0.75rem;

    &--danger {
        background-color: rgba($accent, 0.1);
        color: $accent;
        border-color: $accent;
    }

    &--primary {
        border-color: $primary;
        color: $primary;
        background-color: rgba($primary, 0.1);
    }
}
