@use 'colors';

%flexCenterXY {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexCenterX {
  display: flex;
  justify-content: center;
}

%flexCenterY {
  display: flex;
  align-items: center;
}

%sidebarClickableEntity {
    color: colors.$light;
    background-color: colors.$dark;
    text-shadow: 0 1px #000;

    &:hover {
        cursor: pointer;
        background-color: colors.$dark-soft-lighten;
    }
}
