.app-preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;

    &__icon {
        animation: rotate 1s infinite linear;
    }

    p {
        margin-top: 2rem;
    }
}
